@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  min-width: 100vw;
  background-color: #fff;
  font-family: sans-serif;
  font-family: "Plus Jakarta Sans", sans-serif;
  overflow-x: hidden;
}

header {
  padding: 24px 160px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header > a {
  text-decoration: none;
  padding: 16px 32px;
  border-radius: 28px;
  background-color: #13183f;
  color: #fff;
  font-weight: 700;
  font-size: 18px;
}
header > img {
  width: 111px;
  height: 28px;
}
main {
  padding: 64px 160px;
}

.top_section {
  display: flex;
  padding-top: 110px;
  margin-bottom: 238px;
}
.left_side {
  min-height: 100px;
  width: 50%;
  background-color: #ffffff;
}
.left_side > h2 {
  font-size: 56px;
  font-weight: 800px;
  color: #13183f;
  line-height: 67px;
  max-width: 457px;
}
.left_side > p {
  font-weight: 500;
  line-height: 27px;
  font-size: 18px;
  color: #83869a;
  max-width: 457px;
  margin-top: 24px;
  margin-bottom: 40px;
}
.left_side > a {
  text-decoration: none;
  border-radius: 28px;
  font-size: 18px;
  font-weight: 700;
  padding: 16px 32px;
  line-height: 27px;
  color: #ffffff;
  display: inline-block;
  background-image: linear-gradient(180deg, #ff6f48 0%, #f02aa6 100%);
}
.right_side {
  min-height: 100px;
  width: 50%;
}
.right_side > img {
  position: absolute;
  top: -150px;
  right: -350px;
}

.bot-section {
  min-height: 100px;
  background-color: #f02aa6;
}
.bottom {
  background-color: #ff6f48;
}
